anyio
appdirs
asgiref
Bottleneck
click
colorama
et-xmlfile
exceptiongroup
h11
htmltools
idna
Jinja2
linkify-it-py
markdown-it-py
MarkupSafe
mdit-py-plugins
mdurl
numexpr
numpy
openpyxl
packaging
pandas
pip
python-dateutil
python-multipart
pytz
setuptools
scikit-learn
shiny
shinyswatch
six
sniffio
starlette
typing_extensions
tzdata
uc-micro-py
uvicorn
watchfiles
websockets
wheel